body {
	color: #141453;
	font-family: sans-serif;
	margin: 20px;
	font-size: 20px;
}

h1 {
	font-size: 30px;
}

.header {
	text-align: center;
}

.header ul {
	overflow: auto; 
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-block;
}

.header li {
	float: left;
	padding: 10px;
}

.header li:hover {
	background: #d0d0dc;
}

td {
	padding: 5px;
}